Host *
    ServerAliveInterval    60
    TCPKeepAlive           yes
    ProxyCommand           ssh -i ~/.ssh/dops.pem -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no   -p 8080 -W %h:%p ubuntu@$BASTION
    ControlMaster          auto
    ControlPath            ~/.ssh/mux-%r@%h:%p
    ControlPersist         8h
    User                   ubuntu
    IdentityFile           ~/.ssh/claptrap.pem
    StrictHostKeyChecking  no
    UserKnownHostsFile     /dev/null
